In [1]:
! pip install  ydata_profiling

Requirement already satisfied: ydata_profiling in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (4.6.4)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.5.3)
Requirement already satisfied: matplotlib<3.9,>=3.2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (3.6.0)
Requirement already satisfied: pydantic>=2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (2.5.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (3.1.2)
Requirement already satisfied: visions==0.7.5 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from visions[type_image_path]==0.7.5->ydata_profiling) (0.7.5)
Requirement already satisfied: numpy<1.26,>=1.16.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.25.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (4.66.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.10)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (0.14.1)
Requirement already satisfied: typeguard<5,>=4.1.2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (4.1.5)
Requirement already satisfied: imagehash==4.3.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (1.8.1)
Requirement already satisfied: numba<0.59.0,>=0.56.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from ydata_profiling) (0.58.1)
Requirement already satisfied: PyWavelets in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from imagehash==4.3.1->ydata_profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from imagehash==4.3.1->ydata_profiling) (10.0.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata_profiling) (3.2.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata_profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata_profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (23.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<3.9,>=3.2->ydata_profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.42,>=0.41.0dev0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from numba<0.59.0,>=0.56.0->ydata_profiling) (0.41.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata_profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from phik<0.13,>=0.11.1->ydata_profiling) (1.3.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata_profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata_profiling) (2.14.6)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata_profiling) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.4 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from statsmodels<1,>=0.13.2->ydata_profiling) (0.5.4)
Requirement already satisfied: colorama in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from tqdm<5,>=4.48.2->ydata_profiling) (0.4.6)
Requirement already satisfied: six in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from patsy>=0.5.4->statsmodels<1,>=0.13.2->ydata_profiling) (1.16.0)

## https://pypi.org/project/pandas-profiling/  <-- read document

In [2]:
import pandas as pd
import numpy as numpy
from ydata_profiling import ProfileReport

In [3]:
df = pd.read_csv("dataset.csv")
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0092_03,Earth,True,G/9/P,TRAPPIST-1e,3.0,False,0.0,0.0,0.0,0.0,0.0,Tiney Hewson,True
88,0097_01,Europa,False,A/2/S,TRAPPIST-1e,54.0,False,0.0,1208.0,0.0,3.0,637.0,Alchium Fictful,False
89,0098_01,Earth,False,G/11/P,TRAPPIST-1e,26.0,False,0.0,856.0,5.0,32.0,0.0,Doria Carezquez,False
90,0098_02,Earth,False,G/11/P,TRAPPIST-1e,26.0,False,0.0,2811.0,957.0,0.0,87.0,Leence Carezquez,True
91,0099_01,Earth,False,F/19/P,PSO J318.5-22,23.0,False,311.0,427.0,526.0,37.0,0.0,Aliey Leetersoney,False

In [4]:
# profile = ProfileReport(df,title = 'cool')
# profile

In [5]:
from pycaret.datasets import get_data
juice = get_data('juice')
from pycaret.classification import *
exp_name = setup(data = juice,  target = 'Purchase')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0